<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>233326846494-ejarm86bqt3ki2kkenlsnm7cbs50sfbi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.233326846494-ejarm86bqt3ki2kkenlsnm7cbs50sfbi</string>
	<key>API_KEY</key>
	<string>AIzaSyD8ncpK9p1XZG_4yio9W301oGv0vhjqHxM</string>
	<key>GCM_SENDER_ID</key>
	<string>233326846494</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iamslam.Meraki</string>
	<key>PROJECT_ID</key>
	<string>meraki-e6ae3</string>
	<key>STORAGE_BUCKET</key>
	<string>meraki-e6ae3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:233326846494:ios:77487ea109f5031d7f840f</string>
	<key>DATABASE_URL</key>
	<string>https://meraki-e6ae3.firebaseio.com</string>
</dict>
</plist>